@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.shopSection{
	width: 100%;

}

.searchSection{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.search-bar{
  width: 200px;
  height: 100px;
  overflow: hidden;
}


.searchSection  > input[type=text]{
  background-color: var(--light);
  border: none;
  text-decoration: underline;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.sorting-controls{
  font-family: 'Courier New', Courier, monospace;
  color: #242424;
	justify-content: right;
	padding: 2em;
	display: flex;
	font-size: 20px;
	gap: 0.3em;

}

.order-name{
	font-weight: 600;
    color: #444444;
	text-decoration: underline;

}

.order-name:hover{
	color: #000000;
	cursor: pointer;
}



.sort-arrow {
    cursor: pointer;
    user-select: none;
    color: grey; /* Default color for inactive state */
}

.sort-arrow.active {
    color: black; /* Color for active state */
}

.sort-arrow.inactive {
    opacity: 0.5; /* Less visible for inactive state */
}




.shop-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	color: white;
	text-align: left;
	gap: 2em;
}

.shop-container{

  border-radius: 5%;
  aspect-ratio: 3/4;
  position: relative;

  overflow: hidden;
}

.shop-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.shop-info-container{
  display: flex;
  width: 100%; height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  /* padding-left: 0em 2em; */

}


.shop-info{
 padding: 1em;
  /* padding-left: 0em 2em; */
}

.shop-title{
  margin: 0;
}

.shop-decription {
  font-style: italic;
  font-weight: 500;

}


.shop-contains-italic{
  font-style: italic;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000a2;
}

.shop-container:hover .overlay {
  opacity: 1;
}

.button-row{

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-btn{
border: 1px solid var(--light);
width: 40%;
background-color: #00000000;
}

.add-btn:hover{
	background-color: #00000050;
	color: #ffffff;
}


@media (max-width: 750px){



.shop-grid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	max-width: 100%;

}

}