header{
	margin: 0;
	width:100%; height: 13vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.menu-toggle {
  position: fixed; /* Keep if necessary */
  top: 10px; /* Adjust according to your layout */
  right: 15px; /* Position it in the corner for typical 'close' button placement */
  width: 48px; /* Enough size to be clickable but not too large to overlap other elements */
  height: 48px; /* Same as width */
  padding: 10px; /* Padding for clickable area */
  margin: 0;
  font-size: 2em;
  border: none;
  background: transparent; /* Ensures it does not block content */
  cursor: pointer; /* Clearly indicates it's clickable */
}

.menu-toggle:hover, .menu-toggle:focus {
  transform: scale(1.1); /* Keep transformations minimal */
}





.splash-menu {
  top: 0;
  left: 70%;
  width: 30%;
  height: 30%;
  z-index: 1;
  background-color: #de9629;
  clip-path: circle(50% at 100% 0);
  transition: all 0.8s ease;
  position: absolute;
  color: #de9629;

}

.splash-menu > * {

  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-menu.open {
  clip-path: circle(100%);
  width: 100%;
  height: 100%;
  left: 0;
  color: white;
}



.underline{
	text-decoration: underline;
}

.link-container  {
	z-index: 2000;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	color: #de9629;
}

.link-container > a {
	font-size: 2em;
	color: #f1f1f1;
	font-weight: 500;
	text-decoration: none;

}

.link-container > a:hover {

	color: #909090;
;

}

.link-container > img {
	width: 100px;
	height: 100px;


}



.logo * {
	max-width: 200px;
	max-height: 200px;

}


nav * {
	display: flex;
	flex-direction: row;
	gap: 1em;

}

@media (max-width: 563px) {
	.logo * {
		max-width: 190px;
		max-height: 190px;

	}
    header {
		justify-content: center;
	}
}