@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


:root {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--light);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


 /* CSS Variablar */

--font-color: #4A4A4A;
--light: #f1f1f1;
--brown: rgba(0, 0, 0, 0.658);
--red: #6b0504;
--green: #022002;
--font: "lora", serif;
}


button {
    padding: 1em 2.6em;
    border: none;
    border-radius: 2em;
    background-color: var(--brown);
    color: var(--light);
    font-size: 1em;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    transition: border-color 0.3s;
    display: inline-block;
    margin: 0.5em;
    box-sizing: border-box;

}


.btn-filled:hover {
    border-color: #000; /* Darker border on hover, change as desired */
  }



  .btn-outline {
  font-family: Inter;
  background-color: #ffffff00;
  color: var(--brown);
  border: 4px solid var(--brown);
  padding: 5em;
  border-radius: 40%;
}

